<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Secure Code Scanner</title>
  </head>
  <body>
    <h1>Secure Code Scanner</h1>
    <form id="scanForm" onsubmit="event.preventDefault(); scanCode();">
      <label for="scan_type">Select Scan Type:</label>
      <select id="scan_type" name="scan_type" onchange="toggleInputType()">
        <option value="file">Scan Single File</option>
        <option value="directory">Scan Directory</option>
      </select>

      <div id="file_input">
        <label for="file">Upload a file:</label>
        <input type="file" id="file" name="file" />
      </div>

      <div id="dir_input" style="display: none">
        <label for="directory_zip">Upload Directory (ZIP):</label>
        <input
          type="file"
          id="directory_zip"
          name="directory_zip"
          accept=".zip"
        />
      </div>

      <label for="output_format">Select Report Format:</label>
      <select id="output_format" name="output_format">
        <option value="json">JSON</option>
        <option value="html">HTML</option>
        <option value="csv" selected>CSV</option>
        <option value="pdf">PDF</option>
      </select>

      <button type="submit">Scan</button>
    </form>

    <br />
    <a
      id="download_link"
      href="#"
      download="scan_report.csv"
      title="Your scan’s complete — grab the report here"
      >Download Report</a
    >

    <div class="scanner-overlay" id="scannerOverlay">
      <div class="ocrloader">
        <em></em>
        <div>
          <i></i><i></i><i></i><i></i><i></i><i></i><i></i> <i></i><i></i><i></i
          ><i></i><i></i><i></i><i></i> <i></i><i></i><i></i>
        </div>
        <span></span>
        <p>SCANNING... PLEASE WAIT</p>
      </div>
    </div>

    <!-- Dark mode toggle -->
    <div class="theme-switch">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="label">
        <svg
          class="moon"
          width="24"
          height="24"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3 11.5066C3 16.7497 7.25034 21 12.4934 21C16.2209 21 19.4466 18.8518 21 15.7259C12.4934 15.7259 8.27411 11.5066 8.27411 3C5.14821 4.55344 3 7.77915 3 11.5066Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <svg
          class="sun"
          width="24"
          height="24"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M22 12L23 12"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 2V1"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 23V22"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M20 20L19 19"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M20 4L19 5"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4 20L5 19"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4 4L5 5"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1 12L2 12"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <div class="ball"></div>
      </label>
    </div>

    <!-- Scan complete sound -->
    <audio id="dingSound" src="static/doublechime.mp3" preload="auto"></audio>
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
  </body>
</html>
